pytz
chardet
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
pillow
prompt_toolkit
psycopg2-binary
PyJWT
PyPDF2
python-dateutil
python-dotenv
requests
six
sqlparse
tzdata
urllib3
whitenoise
django-storages
boto3
whitenoise
django-storages
s3cmd
cloudinary 
django-cloudinary-storage
reportlab

